.movie-item-container {
}
.thumbnail {
  width: 250px;
  height: 170px;
  border-radius: 8px;
  cursor: pointer;
}
.popup-content {
  background-color: #ffffff;
  height: 450px;
  width: 750px;
  border-radius: 12px;
}
.modal-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.close-button {
  align-self: flex-end;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: 33px;
  margin-top: 20px;
  margin-right: 20px;
}
.movie-player-container {
  margin: 12px 48px 48px 48px;
}
